.header {
    background: #F7F7F7;
    border-bottom: 1px solid #F2F4F7;
    height: 72px;
}

.inner {
    display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 64px;
}

.nav {
    display: flex;
    gap: 32px;
}

.navLink {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #829B91;
}

.navLink:hover {
    color: #6D7B75;
}

.active {
    color: #6D7B75;
}